pre{
	padding: 0;
}
.bdshare-button-style1-16.share a{
	float: none;
}
.author-meta{
	color: #ccc;
}
.buttons i{
	color: rgba(255,255,255,0.95);
	font-size: 30px;
}
.author-info a{
	color: #FFF;
	text-decoration: none;
}
.tags-holder{
	position: relative;
	margin-left: 140px;
}
.tag-outer{
	float: left;
	width: 33.3333%;
	background-color: #FFF;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.tag-outer h4 a{
	margin: 8px;
	font-size: 1.7rem;
	font-weight: 300;
	color: #4f94d6;
	text-decoration: none;
}
.tag-outer p{
	margin: 8px 0;
	font-size: 1.3rem;
}
.tag-logo{
	float: left;
	border: 3px solid #689fd4;
	margin: 0 15px 0 0;
}
.tag-logo img{
	width: 60px;
}
@media only screen and (max-width: 900px){
	.tag-outer{
		width: 50%;
	}
}

@media only screen and (max-width: 768px){
	.tag-outer{
		width: 100%;
	}
}