pre{
	padding: 0;
}
.bdshare-button-style1-16.share a{
	float: none;
}
.author-meta{
	color: #ccc;
}
.buttons i{
	color: rgba(255,255,255,0.95);
	font-size: 30px;
}
.author-info a{
	color: #FFF;
	text-decoration: none;
}
.tags-holder{
	position: relative;
	margin-left: 140px;
}
.tag-wrapper{
	margin-bottom: 5px;
}
.tag-wrapper{
	float: left;
	width: 33.3333%;
}
.tag-outer{
	background-color: #FFF;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-right: 5px;
}
.tag-outer h4{
	margin: 0;
}
.tag-outer h4 a{
	font-size: 1.7rem;
	font-weight: 300;
	color: #4f94d6;
	text-decoration: none;
}
.tag-outer p{
	margin: 5px 0;
	font-size: 1.3rem;
	line-height: 1;
}
.tag-logo{
	float: left;
	border: 3px solid #689fd4;
	margin: 0 10px 0 0;
}
.tag-logo img{
	width: 50px;
	height: 50px;
}
.tag-profile{
	float: left;
}
@media only screen and (max-width: 900px){
	.tag-wrapper{
		width: 50%;
	}
	.tags-holder{
		margin-left: 0;
	}
}

@media only screen and (max-width: 768px){
	.tag-wrapper{
		width: 100%;
	}
}