<nav class="pagination" role="navigation">
    {{#if prev}}
    	<a href="{{page_url prev}}" class="tiny secondary button fa fa-arrow-left"></a>
    {{/if}}
    <span class="page-number">第 {{page}} 页，共 {{pages}} 页</span>
    {{#if next}}
    	<a href="{{page_url next}}"" class="tiny secondary button fa fa-arrow-right"></a>
    {{/if}}
</nav>