{{!< default}}

{{> "mheader"}}

<main class="content" role="main">

    <article class="post page">
    {{! Everything inside the #post tags pulls data from the post }}
        <div class="post-inner">
            <div class="column-left"></div>
            <div class="column-right">
                <header class="post-header">
                    <h1 class="post-title">联系我</h1>
                </header>

                <span class="post-meta clearfix"></span>

                <section class="post-content">
                    <ul style="list-style: none;">
                        {{!-- <li>人人：<a href="http://www.renren.com/297870029/profile" target="_blank">刘晚林</a></li>
                        <li>Facebook：<a href="https://www.facebook.com/profile.php?id=100005915920438" target="_blank">刘晚林</a></li>
                        <li>Google+：<a href="https://plus.google.com/u/0/100879315317761275357/posts" target="_blank">刘晚林</a></li>
                        <li>Twitter：<a href="https://twitter.com/superlin1990" target="_blank">superlin1990</a></li>
                        <li>新浪微博：<a href="http://www.weibo.com/2010545002/profile" target="_blank">superlin1990</a></li> --}}
                        {{!-- <li>简历：<a href="/assets/resume/index.html" target="_blank">superlin1990</a></li> --}}
                        <li>邮箱：<a href="mailto:superlin1990@gmail.com">superlin1990@gmail.com</a></li>
                    </ul>
                </section>

                <footer class="post-footer">

                    <section class="share bdsharebuttonbox">
                        <h4>立即分享:</h4>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                        <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"关于一个有趣的博客-{{@blog.title}}的联系方式，快去看看吧！","bdUrl":"{{@blog.url}}/contact","bdDesc":"{{@blog.description}}","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["tsina","tqq","weixin","renren","qzone"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
                    </section>
                </footer>
            </div>

        </div>

    </article>
    <div class="to_top">
        <a href="#"><i class="fa fa-arrow-circle-up"></i></a>
    </div>

</main>
