{{!< default}}

{{> "sheader"}}

<main class="content" role="main">

    <article class="post page">

        <div class="post-inner">
            <div class="tags-holder clearfix">
            {{#foreach tags}}
                <div class="tag-wrapper">
                    <div class="tag-outer clearfix">
                        <div class="tag-inner clearfix">
                            <div class="tag-logo">
                                <img src="{{asset "img/hoar_logo.svg"}}" alt="">
                            </div>
                            <p>2014-09-15 </p>
                            <h4><a href="/tag/{{slug}}" data-name="{{name}}">{{name}}</a></h4>
                        </div>
                    </div>
                </div>
            {{/foreach}}
            </div>
        </div>

    </article>

</main>
