<!-- resp-tabs-container -->
<div class="resp-tabs-container">
	<!-- profile -->
	<div id="profile" class="content_2">
		<!-- .title -->
		<h1 class="h-bloc">Profile - About Me</h1>
		<div class="row top-p">
			<div class="col-md-6 profile-l">
				<!--About me-->
				<div class="title_content">
					<div class="text_content">brown smith</div>
					<div class="clear"></div>
				</div>
				<ul class="about">
					<li>
						<i class="glyphicon glyphicon-user"></i>
						<label>Name</label>
						<span class="value">Brown Smith</span>
						<div class="clear"></div>
					</li>
					<li>
						<i class="glyphicon glyphicon-calendar"></i>
						<label>Date of birth</label>
						<span class="value">March 18, 1988</span>
						<div class="clear"></div>
					</li>
					<li>
						<i class="glyphicon glyphicon-map-marker"></i>
						<label>Adress</label>
						<span class="value">San Francisco , CA</span>
						<div class="clear"></div>
					</li>
					<li>
						<i class="glyphicon glyphicon-envelope"></i>
						<label>Email</label>
						<span class="value">brown.smith@gmail.com</span>
						<div class="clear"></div>
					</li>
					<li>
						<i class="glyphicon glyphicon-phone"></i>
						<label>Phone</label>
						<span class="value">+123 (21) 1234-5678</span>
						<div class="clear"></div>
					</li>
					<li>
						<i class="glyphicon glyphicon-globe"></i>
						<label>Website</label>
						<span class="value"><a href="#" target="_blank">www.brown-smith.com</a></span>
						<div class="clear"></div>
					</li>
				</ul>
				<p style="margin-bottom:20px">
					<i class="fa fa-quote-left"></i>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec nulla sagittis, scelerisque mi vitae, congue turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec nulla sagittis, scelerisque mi vitae, congue turpis.
				</p>
				<p style="margin-bottom:20px">
					<i class="fa fa-quote-left"></i>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec nulla sagittis, scelerisque mi vitae, congue turpis.
				</p>
			</div>
			<!-- End left-wrap -->
			<div class="col-md-6 profile-r">
				<div class="cycle-slideshow">
					<img src="images/img-profile/about_1.jpg" alt="" />
					<img src="images/img-profile/about_2.png" alt="" />
					<img src="images/img-profile/about_3.png" alt="" />
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="row" id="services">
			<div class="col-md-12">
				<div class="title_content">
					<div class="text_content">My Services 1</div>
					<div class="clear"></div>
				</div>
				<div class="col-md-4 pack-service">
					<div class="service">
						<div class="service-icon"><i class="fa fa-tag"></i></div>
						<div class="service-detail">
							<h6>Making Money</h6>
							<p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 pack-service">
					<div class="service">
						<div class="service-icon"><i class="fa fa-cogs"></i></div>
						<div class="service-detail">
							<h6>Easy to Customize</h6>
							<p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 pack-service">
					<div class="service">
						<div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
						<div class="service-detail">
							<h6>Moving Let Us Help</h6>
							<p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
						</div>
					</div>
				</div>
			</div><!-- End Services -->
			<div class="clear"></div>
			<div class="border-list"></div>
			<div class="row">
				<div class="col-md-12">
					<div class="bottom-p">
						<div class="title_content">
							<div class="text_content">My Services 2</div>
							<div class="clear"></div>
						</div>
						<div class="panel-group" id="accordion">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
										Making Money
										<i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
									</a>
									</h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in">
									<div class="panel-body">
										<i class="fa fa-quote-left"></i>  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
										Easy to Customize
										<i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
									</a>
									</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse">
									<div class="panel-body">
										<i class="fa fa-quote-left"></i>  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">
										Moving Let Us Help
										<i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
									</a>
									</h4>
								</div>
								<div id="collapseThree" class="panel-collapse collapse">
									<div class="panel-body">
										<i class="fa fa-quote-left"></i>  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		</div>
		<!-- End .profile -->
		<!-- .resume -->
		<div id="resume" class="content_2">
			<!-- .title -->
			<h1 class="h-bloc">Resume - Personal Info</h1>
			<div class="row">
				<!-- .resume-right -->
				<div class="col-md-6">
					<!-- .title_content -->
					<div class="title_content" style="float: none;">
						<div class="text_content">Designs skills</div>
						<div class="clear"></div>
					</div>
					<!-- /.title_content -->
					<div class="skills">
						<!-- .skillbar -->
						<div class="skillbar clearfix" data-percent="95%">
							<div class="skillbar-title"><span>Photoshop</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">95%</div>
						</div>
						<!-- /.skillbar -->
						<!-- .skillbar -->
						<div class="skillbar clearfix" data-percent="90%">
							<div class="skillbar-title"><span>Illustrateur</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">90%</div>
						</div>
						<!-- /.skillbar -->
						<!-- .skillbar -->
						<div class="skillbar clearfix" data-percent="65%">
							<div class="skillbar-title"><span>Indesign</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">65%</div>
						</div>
						<!-- /.skillbar -->
						<!-- .skillbar -->
						<div class="skillbar clearfix" data-percent="35%">
							<div class="skillbar-title"><span>Flash</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">35%</div>
						</div>
						<!-- /.skillbar -->
					</div>
					<!-- .title_content -->
					<div class="title_content" style="float: none;">
						<div class="text_content">Programming Skills</div>
						<div class="clear"></div>
					</div>
					<!-- /.title_content -->
					<div class="skills">
						<!-- .skillbar -->
						<div class="skillbar clearfix" data-percent="85%">
							<div class="skillbar-title"><span>Wordpress</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">85%</div>
						</div>
						<!-- /.skillbar -->
						<!-- .skillbar -->
						<div class="skillbar clearfix" data-percent="75%">
							<div class="skillbar-title"><span>Joomla</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">75%</div>
						</div>
						<!-- /.skillbar -->
						<!-- .skillbar -->
						<div class="skillbar clearfix" data-percent="60%">
							<div class="skillbar-title"><span>Drupal</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">60%</div>
						</div>
						<!-- /.skillbar -->
						<!-- .skillbar -->
						<div class="skillbar clearfix" data-percent="89%">
							<div class="skillbar-title"><span>Php</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">89%</div>
						</div>
						<!-- /.skillbar -->
					</div>
					<!-- .title_content -->
					<div class="title_content" style="float: none;">
						<div class="text_content">Office Skills</div>
						<div class="clear"></div>
					</div>
					<!-- /.title_content -->
					<div class="skills">
						<!-- .skillbar -->
						<div class="skillbar clearfix" data-percent="85%">
							<div class="skillbar-title"><span>MS Excel</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">85%</div>
						</div>
						<!-- /.skillbar -->
						<!-- .skillbar -->
						<div class="skillbar clearfix " data-percent="95%">
							<div class="skillbar-title"><span>MS Word</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">95%</div>
						</div>
						<!-- /.skillbar -->
						<!-- .skillbar -->
						<div class="skillbar clearfix " data-percent="60%">
							<div class="skillbar-title"><span>Powerpoint</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">60%</div>
						</div>
						<!-- /.skillbar -->
						<!-- .skillbar -->
						<div class="skillbar clearfix " data-percent="40%">
							<div class="skillbar-title"><span>SharePoint</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">40%</div>
						</div>
						<!-- /.skillbar -->
					</div>
					<!-- .title_content -->
					<div class="title_content" style="float: none;">
						<div class="text_content">Hobbies Skills</div>
						<div class="clear"></div>
					</div>
					<!-- /.title_content -->
					<div class="skills">
						<!-- .skillbar -->
						<div class="skillbar clearfix" data-percent="60%">
							<div class="skillbar-title"><span>Music</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">60%</div>
						</div>
						<!-- /.skillbar -->
						<!-- .skillbar -->
						<div class="skillbar clearfix " data-percent="95%">
							<div class="skillbar-title"><span>Sport</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">95%</div>
						</div>
						<!-- /.skillbar -->
						<!-- .skillbar -->
						<div class="skillbar clearfix " data-percent="85%">
							<div class="skillbar-title"><span>Reading</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">85%</div>
						</div>
						<!-- /.skillbar -->
						<!-- .skillbar -->
						<div class="skillbar clearfix " data-percent="70%">
							<div class="skillbar-title"><span>Travelling</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">70%</div>
						</div>
						<!-- /.skillbar -->
					</div>
					<!-- .title_content -->
					<div class="title_content" style="float: none;">
						<div class="text_content">Language Skills</div>
						<div class="clear"></div>
					</div>
					<!-- /.title_content -->
					<div class="skills">
						<!-- .skillbar -->
						<div class="skillbar clearfix" data-percent="90%">
							<div class="skillbar-title"><span>English</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">90%</div>
						</div>
						<!-- /.skillbar -->
						<!-- .skillbar -->
						<div class="skillbar clearfix " data-percent="80%">
							<div class="skillbar-title"><span>French</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">80%</div>
						</div>
						<!-- /.skillbar -->
						<!-- .skillbar -->
						<div class="skillbar clearfix " data-percent="50%">
							<div class="skillbar-title"><span>Spanish</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">50%</div>
						</div>
						<!-- /.skillbar -->
						<!-- .skillbar -->
						<div class="skillbar clearfix " data-percent="60%">
							<div class="skillbar-title"><span>Swiss</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">60%</div>
						</div>
						<!-- /.skillbar -->
					</div>
					<!-- .title_content -->
					<div class="title_content" style="float: none;">
						<div class="text_content">My Resume</div>
						<div class="clear"></div>
					</div>
					<!-- /.title_content -->
					<!-- .download_resume -->
					<a class="download" style="margin:0;float: left;" href="#">
						<span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
					</a>
					<!-- /.download_resume -->
				</div>
				<!-- /.resume-right -->
				<!-- .resume-left -->
				<div class="col-md-6 resume-left">
					<!-- .title_content -->
					<div class="title_content" style="margin-bottom:5px">
						<div class="text_content">Experience</div>
						<div class="clear"></div>
					</div>
					<!-- /.title_content -->
					<!-- .attributes -->
					<ul class="attributes">
						<li class="first">
							<h5>Web Developer <span class="duration"><i class="fa fa-calendar color"></i> 2011 - 2013</span></h5>
							<h6><span class="fa fa-briefcase"></span> Name of Company</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
						</li>
						<li>
							<h5>Front-End Developer <span class="duration"><i class="fa fa-calendar color"></i> 2010 - 2011</span></h5>
							<h6><span class="fa fa-briefcase"></span> Name of Company</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
						</li>
					</ul>
					<!-- /.attributes -->
					<br>
					<!-- .title_content -->
					<div class="title_content">
						<div class="text_content">Education</div>
						<div class="clear"></div>
					</div>
					<!-- /.title_content -->
					<!-- .attributes -->
					<ul class="attributes">
						<li class="first">
							<h5>Master of Engineering <span class="duration"><i class="fa fa-calendar color"></i> 2011 - 2013</span></h5>
							<h6><span class="fa fa-book"></span> Name of University</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
						</li>
						<li>
							<h5>Bachelor of Engineering <span class="duration"><i class="fa fa-calendar color"></i> 2010 - 2011</span></h5>
							<h6><span class="fa fa-book"></span> Name of University</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
						</li>
					</ul>
					<!-- /.attributes -->
					<br>
					<!-- .title_content -->
					<div class="title_content">
						<div class="text_content">Awards</div>
						<div class="clear"></div>
					</div>
					<!-- /.title_content -->
					<!-- .attributes -->
					<ul class="attributes">
						<li class="first">
							<h5>Graphic &amp; Art Direction <span class="duration"><i class="fa fa-calendar color"></i> 2013 - 2014</span></h5>
							<h6><span class="fa fa-trophy"></span> Name of Institute</h6>
							<p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p>
						</li>
						<li>
							<h5>Design &amp; Art Direction <span class="duration"><i class="fa fa-calendar color"></i> 2012 - 2013</span></h5>
							<h6><span class="fa fa-trophy"></span> Name of Institute</h6>
							<p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p>
						</li>
					</ul>
					<!-- /.attributes -->
					<br>
				</div>
				<!-- /.resume-left -->
			</div>
			<div style="clear: both"></div>
			<!-- client reference -->
			<div class="row">
				<div class="col-md-12">
					<div class="reference clearfix">
						<!-- .title_content -->
						<div class="title_content" style="margin-bottom:5px">
							<div class="text_content">Client reference</div>
							<div class="clear"></div>
						</div>
						<!-- /.title_content -->
						<ul>
							<li class="clearfix">
								<img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
								<p>“Many desktop publishing packages and web page editors now use Lorem Ipsum as their default will model text, and a search for 'lorem ipsum' hope is uncover many web sites still”</p>
								<span>John Doe, UX Designer</span>
							</li>
							<li class="clearfix">
								<img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
								<p>“very nice colleague she always helped me out if i didnt know something editors now use Lorem Ipsum as their default”</p>
								<span>Leia Calvi, UX Designer</span>
							</li>
							<li class="clearfix">
								<img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
								<p>“old colleague and now close friend, she is really sweet and helpfull packages and web page editors now use Lorem Ipsum as their default will model text”</p>
								<span>Maria Callas, UX Designer</span>
							</li>
						</ul>
					</div>
				</div>
				<div style="clear: both"></div>
			</div>
		</div>
		<!-- End .resume -->
		<!-- .portfolio -->
		<div id="portfolio" class="content_2">
			<!-- .title -->
			<h1 class="h-bloc">Portfolio - My Works</h1>
			<div class="container-portfolio">
				<!-- #filters -->
				<ul id="filters" class="clearfix">
					<li><span class="filter active" data-filter="catWeb catGraphic catMotion logo">All</span></li>
					<li><span class="filter" data-filter="catWeb">Web Design</span></li>
					<li><span class="filter" data-filter="catGraphic">Graphic Design</span></li>
					<li><span class="filter" data-filter="catMotion">Motion Graphic</span></li>
					<li><span class="filter" data-filter="logo">Logo</span></li>
				</ul>
				<!-- /#filters -->
				<!-- #portfoliolist -->
				<div id="portfoliolist">
					<div class="view view-first portfolio logo" data-cat="logo">
						<img src="images/portfolio/thumb/1.jpg" />
						<div class="mask">
							<h2>Project Name</h2>
							<p>A wonderful serenity has taken possession of my entire soul.</p>
							<a href="images/portfolio/1.jpg" rel="portfolio" class="info open-imag">
								<i class="fa fa-search"></i>
							</a>
						</div>
					</div>
					<div class="view view-first portfolio catWeb" data-cat="catWeb">
						<img src="images/portfolio/thumb/2.jpg" />
						<div class="mask">
							<h2>Project Name</h2>
							<p>A wonderful serenity has taken possession of my entire soul.</p>
							<a href="images/portfolio/2.jpg" rel="portfolio" class="info open-imag">
								<i class="fa fa-search"></i>
							</a>
							<a href="http://www.youtube.com/watch?v=c9MnSeYYtYY" rel="portfolio" class="info external"><i class="fa fa-play"></i></a>
						</div>
					</div>
					<div class="view view-first portfolio catWeb" data-cat="catWeb">
						<img src="images/portfolio/thumb/3.jpg" />
						<div class="mask">
							<h2>Project Name</h2>
							<p>A wonderful serenity has taken possession of my entire soul.</p>
							<a href="images/portfolio/3.jpg" rel="portfolio" class="info open-imag">
								<i class="fa fa-search"></i>
							</a>
							<a href="http://themeforest.net/item/flexyvcard-responsive-vcard-template-/7158750?WT.ac=solid_search_thumb&amp;WT.seg_1=solid_search_thumb&amp;WT.z_author=flexycodes?width=800&amp;height=500&amp;iframe=true" rel="portfolio" class="info external">
								<i class="fa fa-link"></i>
							</a>
						</div>
					</div>
					<div class="view view-first portfolio catMotion" data-cat="catMotion">
						<img src="images/portfolio/thumb/4.jpg" />
						<div class="mask">
							<h2>Project Name</h2>
							<p>A wonderful serenity has taken possession of my entire soul.</p>
							<a href="images/portfolio/4.jpg" rel="portfolio" class="info open-imag">
								<i class="fa fa-search"></i>
							</a>
							<a href="http://themeforest.net/?width=800&amp;height=500&amp;iframe=true" rel="portfolio"  class="info external"><i class="fa fa-link"></i></a>
						</div>
					</div>
					<div class="view view-first portfolio catWeb" data-cat="catWeb">
						<img src="images/portfolio/thumb/5.jpg" />
						<div class="mask">
							<h2>Project Name</h2>
							<p>A wonderful serenity has taken possession of my entire soul.</p>
							<a href="images/portfolio/5.jpg" rel="portfolio" class="info open-imag">
								<i class="fa fa-search"></i>
							</a>
							<a href="http://vimeo.com/7449107" rel="portfolio" class="info external"><i class="fa fa-play"></i></a>
						</div>
					</div>
					<div class="view view-first portfolio catMotion" data-cat="catMotion">
						<img src="images/portfolio/thumb/6.jpg" />
						<div class="mask">
							<h2>Project Name</h2>
							<p>A wonderful serenity has taken possession of my entire soul.</p>
							<a href="images/portfolio/6.jpg" rel="portfolio" class="info open-imag">
								<i class="fa fa-search"></i>
							</a>
							<a href="http://themeforest.net/user/flexycodes" target="_blank" class="info external"><i class="fa fa-link"></i></a>
						</div>
					</div>
					<div class="view view-first portfolio catGraphic" data-cat="catGraphic">
						<img src="images/portfolio/thumb/7.jpg" />
						<div class="mask">
							<h2>Project Name</h2>
							<p>A wonderful serenity has taken possession of my entire soul.</p>
							<a href="images/portfolio/7.jpg" rel="portfolio" class="info open-imag">
								<i class="fa fa-search"></i>
							</a>
							<a href="http://themeforest.net/user/flexycodes" target="_blank" class="info external"><i class="fa fa-link"></i></a>
						</div>
					</div>
					<div class="view view-first portfolio logo" data-cat="logo">
						<img src="images/portfolio/thumb/8.jpg" />
						<div class="mask">
							<h2>Project Name</h2>
							<p>A wonderful serenity has taken possession of my entire soul.</p>
							<a href="images/portfolio/thumb/8.jpg" rel="portfolio" class="info open-imag">
								<i class="fa fa-search"></i>
							</a>
							<a href="http://themeforest.net/user/flexycodes" target="_blank" class="info external"><i class="fa fa-link"></i></a>
						</div>
					</div>
					<div class="view view-first portfolio catWeb" data-cat="catWeb">
						<img src="images/portfolio/thumb/9.jpg" />
						<div class="mask">
							<h2>Project Name</h2>
							<p>A wonderful serenity has taken possession of my entire soul.</p>
							<a href="images/portfolio/9.jpg" rel="portfolio" class="info open-imag">
								<i class="fa fa-search"></i>
							</a>
							<a href="http://themeforest.net/user/flexycodes" target="_blank" class="info external"><i class="fa fa-link"></i></a>
						</div>
					</div>
					<div class="view view-first portfolio catGraphic" data-cat="catGraphic">
						<img src="images/portfolio/thumb/10.jpg" />
						<div class="mask">
							<h2>Project Name</h2>
							<p>A wonderful serenity has taken possession of my entire soul.</p>
							<a href="images/portfolio/10.jpg" rel="portfolio" class="info open-imag">
								<i class="fa fa-search"></i>
							</a>
							<a href="http://themeforest.net/user/flexycodes" target="_blank" class="info external"><i class="fa fa-link"></i></a>
						</div>
					</div>
					<div class="view view-first portfolio logo" data-cat="logo">
						<img src="images/portfolio/thumb/11.jpg" />
						<div class="mask">
							<h2>Project Name</h2>
							<p>A wonderful serenity has taken possession of my entire soul.</p>
							<a href="images/portfolio/11.jpg" rel="portfolio" class="info open-imag">
								<i class="fa fa-search"></i>
							</a>
							<a href="http://themeforest.net/user/flexycodes" target="_blank" class="info external"><i class="fa fa-link"></i></a>
						</div>
					</div>
					<div class="view view-first portfolio logo" data-cat="logo">
						<img src="images/portfolio/thumb/12.jpg" />
						<div class="mask">
							<h2>Project Name</h2>
							<p>A wonderful serenity has taken possession of my entire soul.</p>
							<a href="images/portfolio/12.jpg" rel="portfolio" target="_blank" class="info open-imag">
								<i class="fa fa-search"></i>
							</a>
							<a href="http://themeforest.net/user/flexycodes" class="info external"><i class="fa fa-link"></i></a>
						</div>
					</div>
					<div class="view view-first portfolio catGraphic" data-cat="catGraphic">
						<img src="images/portfolio/thumb/13.jpg" />
						<div class="mask">
							<h2>Project Name</h2>
							<p>A wonderful serenity has taken possession of my entire soul.</p>
							<a href="images/portfolio/13.jpg" rel="portfolio" class="info open-imag">
								<i class="fa fa-search"></i>
							</a>
							<a href="http://themeforest.net/user/flexycodes" target="_blank" class="info external"><i class="fa fa-link"></i></a>
						</div>
					</div>
					<div class="view view-first portfolio logo" data-cat="logo">
						<img src="images/portfolio/thumb/14.jpg" />
						<div class="mask">
							<h2>Project Name</h2>
							<p>A wonderful serenity has taken possession of my entire soul.</p>
							<a href="images/portfolio/14.jpg" rel="portfolio" class="info open-imag">
								<i class="fa fa-search"></i>
							</a>
							<a href="http://themeforest.net/user/flexycodes/portfolio" target="_blank" class="info external"><i class="fa fa-link"></i></a>
						</div>
					</div>
					<div class="view view-first portfolio catGraphic" data-cat="catGraphic">
						<img src="images/portfolio/thumb/15.jpg" />
						<div class="mask">
							<h2>Project Name</h2>
							<p>A wonderful serenity has taken possession of my entire soul.</p>
							<a href="images/portfolio/15.jpg" rel="portfolio" class="info open-imag">
								<i class="fa fa-search"></i>
							</a>
							<a href="http://themeforest.net/user/flexycodes" target="_blank" class="info external"><i class="fa fa-link"></i></a>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<!-- #images/portfoliolist -->
			</div>                                            </div>
			<!-- End .portfolio -->
			<!-- .blog -->
			<div id="blog" class="content_2">
				<h1 class="h-bloc">Blog - My Blog</h1><br>
				<div class="col-md-12">
					<div class="row">
						<!-- Page Blog -->
						<div class="col-md-12" id="blog_page">
							<!-- start Page Blog -->
							<section id="blog-page">
								<!-- Post 1 -->
								<article id="post-1" class="blog-article">
									<div class="col-md-12">
										<div class="row">
											<div class="col-md-12 post_media">
												<div class="post-format-icon">
													<a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
												</div>
												<div class="media">
													<div class="he-wrap tpl2">
														<div id="carousel-1" class="carousel slide" data-ride="carousel">
															<ol class="carousel-indicators">
																<li data-target="#carousel-1" data-slide-to="0" class="active"></li>
																<li data-target="#carousel-1" data-slide-to="1"></li>
																<li data-target="#carousel-1" data-slide-to="2"></li>
															</ol>
															<div class="carousel-inner">
																<div class="item active">
																	<img src="images/blog/blog-1.jpg" alt="" />
																	<div class="carousel-caption">
																		<h4>First Thumbnail label</h4>
																		<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
																	</div>
																</div>
																<div class="item">
																	<img src="images/blog/blog-2.jpg" alt="" />
																	<div class="carousel-caption">
																		<h4>First Thumbnail label</h4>
																		<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
																	</div>
																</div>
																<div class="item">
																	<img src="images/blog/blog-3.jpg" alt="" />
																	<div class="carousel-caption">
																		<h4>First Thumbnail label</h4>
																		<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
																	</div>
																</div>
															</div>
															<a class="left carousel-control" href="#carousel-1" data-slide="prev">
																<span class="glyphicon glyphicon-chevron-left"></span>
															</a>
															<a class="right carousel-control" href="#carousel-1" data-slide="next">
																<span class="glyphicon glyphicon-chevron-right"></span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 post_content">
												<div class="content post_format_standart">
													<div class="top_c ">
														<div class="title_content">
															<div class="text_content"><a href="#post-1" class="read_more">Blog Post Gallery</a></div>
															<div class="clear"></div>
														</div>
														<ul class="info">
															<li><i class="glyphicon glyphicon-comment"></i> 2 Comments</li>
															<li><i class="glyphicon glyphicon-time"></i> January 31, 2014</li>
															<li><i class="glyphicon glyphicon-user"></i> by Jane Doe</li>
															<li><i class="glyphicon glyphicon-tag"></i> jquery, slider, web design</li>
														</ul>
														<div class="blog-content">
															<p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo...</p></div>
														</div>
													</div>
													<a href="#post-1" class="read_m pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>
												</div>
											</div>
										</div>
									</article>
									<!-- End Post 1 -->
									<div class="clear"></div>
									<!-- Post 2 -->
									<article id="post-2" class="blog-article">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-12 post_media">
													<div class="post-format-icon">
														<a href="#" class="item-date"><span class="fa fa-pencil"></span></a>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12 post_content">
													<div class="content post_format_standart">
														<div class="top_c ">
															<div class="title_content">
																<div class="text_content"><a href="#post-2" class="read_more">Blog Aside post</a></div>
																<div class="clear"></div>
															</div>
															<ul class="info">
																<li><i class="glyphicon glyphicon-comment"></i> 2 Comments</li>
																<li><i class="glyphicon glyphicon-time"></i> January 31, 2014</li>
																<li><i class="glyphicon glyphicon-user"></i> by Jane Doe</li>
																<li><i class="glyphicon glyphicon-tag"></i> php, web design</li>
															</ul>
															<div class="blog-content">
																<p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo...</p></div>
															</div>
														</div>
														<a href="#post-2" class="read_m pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>
													</div>
												</div>
											</div>
										</article>
										<!-- End Post 2 -->
										<div class="clear"></div>
										<!-- Post 3 -->
										<article id="post-3" class="blog-article">
											<div class="col-md-12">
												<div class="row">
													<div class="col-md-12 post_media">
														<div class="post-format-icon">
															<a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
														</div>
														<div class="media">
															<div class="he-wrap tpl2">
																<img src="images/blog/blog-4.jpg" class="img-hover" alt="" />
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12 post_content">
														<div class="content post_format_standart">
															<div class="top_c ">
																<div class="title_content">
																	<div class="text_content"><a href="#post-3" class="read_more">Blog Post Image</a></div>
																	<div class="clear"></div>
																</div>
																<ul class="info">
																	<li><i class="glyphicon glyphicon-comment"></i> 2 Comments</li>
																	<li><i class="glyphicon glyphicon-time"></i> January 31, 2014</li>
																	<li><i class="glyphicon glyphicon-user"></i> by Jane Doe</li>
																	<li><i class="glyphicon glyphicon-tag"></i> php, web design</li>
																</ul>
																<div class="blog-content">
																	<p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo...</p></div>
																</div>
															</div>
															<a href="#post-3" class="read_m pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>
														</div>
													</div>
												</div>
											</article>
											<!-- End Post 3 -->
										</section>
										<!-- End Page Blog -->
										<!-- Page Blog - Post 1 -->
										<section id="post-1-page" class="content-post" style="display: none">
											<div class="row inner">
												<div class="col-md-12" style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;background: rgba(255, 255, 255, 0.8);padding-bottom: 15px;padding-top: 15px;">
													<article class="postPage">
														<div class="col-md-12 post_media">
															<div class="post-format-icon">
																<a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
															</div>
															<div class="media">
																<div class="he-wrap tpl2">
																	<div id="carousel-2" class="carousel slide" data-ride="carousel">
																		<ol class="carousel-indicators">
																			<li data-target="#carousel-2" data-slide-to="0" class="active"></li>
																			<li data-target="#carousel-2" data-slide-to="1"></li>
																			<li data-target="#carousel-2" data-slide-to="2"></li>
																		</ol>
																		<div class="carousel-inner">
																			<div class="item active">
																				<img src="images/blog/blog-1.jpg" alt="">
																				<div class="carousel-caption">
																					<h4>First Thumbnail label</h4>
																					<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
																				</div>
																			</div>
																			<div class="item">
																				<img src="images/blog/blog-2.jpg" alt="">
																				<div class="carousel-caption">
																					<h4>First Thumbnail label</h4>
																					<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
																				</div>
																			</div>
																			<div class="item">
																				<img src="images/blog/blog-3.jpg" alt="">
																				<div class="carousel-caption">
																					<h4>First Thumbnail label</h4>
																					<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="title_content">
															<div class="text_content">Blog Post Gallery</div>
															<div class="clear"></div>
														</div>
														<p class="caps">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with.</p>
														<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
														<div class="col-md-12 first">
															<div class="info">
																<div>
																	<span class="tag">#php</span>
																	<span class="tag">#web</span>
																	<span class="tag">#web design</span>
																</div>
																<ul class="info-post">
																	<li><i class="glyphicon glyphicon-comment"></i> 2 Comments</li>
																	<li><i class="glyphicon glyphicon-time"></i> January 31, 2014</li>
																	<li><i class="glyphicon glyphicon-user"></i> by Jane Doe</li>
																	<li><i class="glyphicon glyphicon-tag"></i> jquery, slider, web design</li>
																</ul>
															</div>
															<div class="clear"></div>
															<div class="about_author">
																<div class="title_content" style="margin-bottom:10px">
																	<div class="text_content">BILL GATES</div>
																	<div class="clear"></div>
																</div>
																<div class="clear"></div>
																<div class="prg_content">
																	<img src="http://placehold.it/100x100" width="100" height="100" alt="img">
																	<div class="text">
																		Lorem ipsum dolor sit amet, consectetur
																		adipiscing elit. Praesent condimentum sed elit
																		vitae tristique. Aliquam erat volutpat. Nunc sit
																		amet cursus libero. In fringilla egestas ornare.
																	</div>
																	<div class="nb_post" style="margin-top: 10px;">
																		<b id="nb_post"> 15 posts</b> created by author
																	</div>
																</div>
																<div class="clear"></div>
															</div>
															<div class="clear"></div>
															<div class="post_comments">
																<div class="title_content">
																	<div class="text_content">7 Comments</div>
																	<div class="clear"></div>
																</div>
																<div class="clear"></div>
																<div class="comments">
																	<div class="comment">
																		<img src="http://placehold.it/100x100" width="100" height="100" alt="img" />
																		<div class="text">
																			<div class="name">John Doe <a class="reply" href="#">Reply</a></div>
																			<div class="date">12, September, 2013</div>
																			Lorem ipsum dolor sit amet, consectetur
																			adipiscing elit. Praesent condimentum sed elit
																			vitae tristique. Aliquam erat volutpat. Nunc sit
																			amet cursus libero. In fringilla egestas ornare.
																		</div>
																		<div class="comment sub">
																			<img src="http://placehold.it/100x100" width="100" height="100" alt="img" />
																			<div class="text">
																				<div class="name">Bill Gates <a class="reply" href="#">Reply</a></div>
																				<div class="date">12, September, 2013</div>
																				Lorem ipsum dolor sit amet, consectetur
																				adipiscing elit. Praesent condimentum sed elit
																				vitae tristique. Aliquam erat volutpat. Nunc sit
																				amet cursus libero. In fringilla egestas ornare.
																			</div>
																			<div class="clear"></div>
																		</div>
																		<div class="clear"></div>
																		</div><!-- .comments -->
																		<div class="comment">
																			<img src="http://placehold.it/100x100" width="100" height="100" alt="img" />
																			<div class="text">
																				<div class="name">John Smith <a class="reply" href="#">Reply</a></div>
																				<div class="date">12, September, 2013</div>
																				Lorem ipsum dolor sit amet, consectetur
																				adipiscing elit. Praesent condimentum sed elit
																				vitae tristique. Aliquam erat volutpat. Nunc sit
																				amet cursus libero. In fringilla egestas ornare.
																			</div>
																			<div class="comment sub">
																				<img src="http://placehold.it/100x100" width="100" height="100" alt="img" />
																				<div class="text">
																					<div class="name">Bill Gates <a class="reply" href="#">Reply</a></div>
																					<div class="date">12, September, 2013</div>
																					Lorem ipsum dolor sit amet, consectetur
																					adipiscing elit. Praesent condimentum sed elit
																					vitae tristique. Aliquam erat volutpat. Nunc sit
																					amet cursus libero. In fringilla egestas ornare.
																				</div>
																				<div class="clear"></div>
																			</div>
																			<div class="clear"></div>
																			</div><!-- .comments -->
																			<div class="comment">
																				<img src="http://placehold.it/100x100" width="100" height="100" alt="img" />
																				<div class="text">
																					<div class="name">Andrian Robert <a class="reply" href="#">Reply</a></div>
																					<div class="date">12, September, 2013</div>
																					Lorem ipsum dolor sit amet, consectetur
																					adipiscing elit. Praesent condimentum sed elit
																					vitae tristique. Aliquam erat volutpat. Nunc sit
																					amet cursus libero. In fringilla egestas ornare.
																				</div>
																				<div class="comment sub">
																					<img src="http://placehold.it/100x100" width="100" height="100" alt="img" />
																					<div class="text">
																						<div class="name">Bill Gates <a class="reply" href="#">Reply</a></div>
																						<div class="date">12, September, 2013</div>
																						Lorem ipsum dolor sit amet, consectetur
																						adipiscing elit. Praesent condimentum sed elit
																						vitae tristique. Aliquam erat volutpat. Nunc sit
																						amet cursus libero. In fringilla egestas ornare.
																					</div>
																					<div class="clear"></div>
																				</div>
																				<div class="clear"></div>
																				</div><!-- .comments -->
																				<div class="comment">
																					<img src="http://placehold.it/100x100" width="100" height="100" alt="img" />
																					<div class="text">
																						<div class="name">Andrian Robert <a class="reply" href="#">Reply</a></div>
																						<div class="date">12, September, 2013</div>
																						Lorem ipsum dolor sit amet, consectetur
																						adipiscing elit. Praesent condimentum sed elit
																						vitae tristique. Aliquam erat volutpat. Nunc sit
																						amet cursus libero. In fringilla egestas ornare.
																					</div>
																					<div class="clear"></div>
																					</div><!-- .comments -->
																					</div><!-- .post_comments -->
																					<div class="clear"></div>
																					<div class="comment_form">
																						<div class="title_content">
																							<div class="text_content">Leave A Comment</div>
																							<div class="clear"></div>
																						</div>
																						<form method="post" id="comment_form">
																							<p class="form-group" id="contact-name">
																								<label for="name">Your Name</label>
																								<input type="text" name="name" class="form-control" id="inputSuccess" placeholder="Name*...">
																							</p>
																							<p class="form-group" id="contact-email">
																								<label for="email">Your Email</label>
																								<input type="text" name="email" class="form-control" id="inputSuccess" placeholder="Email*...">
																							</p>
																							<p class="form-group" id="contact-message">
																								<label for="message">Your Message</label>
																								<textarea name="message" cols="88" rows="6" class="form-control" id="inputError" placeholder="Your Comment..."></textarea>
																							</p>
																							<input type="reset" name="reset" value="CLEAR" class="reset">
																							<!--<input type="submit" name="submit" value="Post Comment" class="submit">-->
																							<button class="submit" data-toggle="modal" data-target=".bs-example-modal-sm">Post Comment</button>
																						</form>
																						<div class="clear"></div>
																					</div>
																				</div>
																				<div class="col-md-12" style="margin-top: 20px;">
																					<a href="#post-2" class="readmore" id="pagination"><i class="glyphicon glyphicon-chevron-right"></i></a>
																					<a href="#" class="readmore disabled" id="pagination"><i class="glyphicon glyphicon-chevron-left"></i></a>
																					<a href="#blog" class="readmore"><i class="glyphicon glyphicon-chevron-left"></i> All Posts</a>
																				</div>
																				<div class="clear"></div>
																			</article>
																		</div>
																		<div class="clear"></div>
																	</div>
																</section>
																<!-- End Page Blog - Post 1 -->
																<!-- Page Blog - Post 2 -->
																<section id="post-2-page" class="content-post" style="display: none">
																	<div class="row inner">
																		<div class="col-md-12" style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;background: rgba(255, 255, 255, 0.8);padding-bottom: 15px;padding-top: 15px;">
																			<article class="postPage">
																				<div class="col-md-12 post_media">
																					<div class="post-format-icon">
																						<a href="#" class="item-date"><span class="fa fa-pencil"></span></a>
																					</div>
																				</div>
																				<div class="title_content">
																					<div class="text_content">BLOG ASIDE POST</div>
																					<div class="clear"></div>
																				</div>
																				<p class="caps">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with.</p>
																				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
																				<div class="col-md-12 first">
																					<div class="info">
																						<div>
																							<span class="tag">#php</span>
																							<span class="tag">#web</span>
																							<span class="tag">#web design</span>
																						</div>
																						<ul class="info-post">
																							<li><i class="glyphicon glyphicon-comment"></i> 2 Comments</li>
																							<li><i class="glyphicon glyphicon-time"></i> January 31, 2014</li>
																							<li><i class="glyphicon glyphicon-user"></i> by Jane Doe</li>
																							<li><i class="glyphicon glyphicon-tag"></i> php, web design</li>
																						</ul>
																					</div>
																					<div class="clear"></div>
																					<div class="about_author">
																						<div class="title_content" style="margin-bottom:10px">
																							<div class="text_content">BILL GATES</div>
																							<div class="clear"></div>
																						</div>
																						<div class="clear"></div>
																						<div class="prg_content">
																							<img src="http://placehold.it/100x100" width="100" height="100" alt="img">
																							<div class="text">
																								Lorem ipsum dolor sit amet, consectetur
																								adipiscing elit. Praesent condimentum sed elit
																								vitae tristique. Aliquam erat volutpat. Nunc sit
																								amet cursus libero. In fringilla egestas ornare.
																							</div>
																							<div class="nb_post" style="margin-top: 10px;">
																								<b id="nb_post"> 15 posts</b> created by author
																							</div>
																						</div>
																						<div class="clear"></div>
																					</div>
																					<div class="clear"></div>
																					<div class="post_comments">
																						<div class="title_content">
																							<div class="text_content">7 Comments</div>
																							<div class="clear"></div>
																						</div>
																						<div class="clear"></div>
																						<div class="comments">
																							<div class="comment">
																								<img src="http://placehold.it/100x100" width="100" height="100" alt="img" />
																								<div class="text">
																									<div class="name">John Doe <a class="reply" href="#">Reply</a></div>
																									<div class="date">12, September, 2013</div>
																									Lorem ipsum dolor sit amet, consectetur
																									adipiscing elit. Praesent condimentum sed elit
																									vitae tristique. Aliquam erat volutpat. Nunc sit
																									amet cursus libero. In fringilla egestas ornare.
																								</div>
																								<div class="comment sub">
																									<img src="http://placehold.it/100x100" width="100" height="100" alt="img" />
																									<div class="text">
																										<div class="name">Bill Gates <a class="reply" href="#">Reply</a></div>
																										<div class="date">12, September, 2013</div>
																										Lorem ipsum dolor sit amet, consectetur
																										adipiscing elit. Praesent condimentum sed elit
																										vitae tristique. Aliquam erat volutpat. Nunc sit
																										amet cursus libero. In fringilla egestas ornare.
																									</div>
																									<div class="clear"></div>
																								</div>
																								<div class="clear"></div>
																								</div><!-- .comments -->
																								<div class="comment">
																									<img src="http://placehold.it/100x100" width="100" height="100" alt="img" />
																									<div class="text">
																										<div class="name">John Smith <a class="reply" href="#">Reply</a></div>
																										<div class="date">12, September, 2013</div>
																										Lorem ipsum dolor sit amet, consectetur
																										adipiscing elit. Praesent condimentum sed elit
																										vitae tristique. Aliquam erat volutpat. Nunc sit
																										amet cursus libero. In fringilla egestas ornare.
																									</div>
																									<div class="comment sub">
																										<img src="http://placehold.it/100x100" width="100" height="100" alt="img" />
																										<div class="text">
																											<div class="name">Bill Gates <a class="reply" href="#">Reply</a></div>
																											<div class="date">12, September, 2013</div>
																											Lorem ipsum dolor sit amet, consectetur
																											adipiscing elit. Praesent condimentum sed elit
																											vitae tristique. Aliquam erat volutpat. Nunc sit
																											amet cursus libero. In fringilla egestas ornare.
																										</div>
																										<div class="clear"></div>
																									</div>
																									<div class="clear"></div>
																									</div><!-- .comments -->
																									<div class="comment">
																										<img src="http://placehold.it/100x100" width="100" height="100" alt="img" />
																										<div class="text">
																											<div class="name">Andrian Robert <a class="reply" href="#">Reply</a></div>
																											<div class="date">12, September, 2013</div>
																											Lorem ipsum dolor sit amet, consectetur
																											adipiscing elit. Praesent condimentum sed elit
																											vitae tristique. Aliquam erat volutpat. Nunc sit
																											amet cursus libero. In fringilla egestas ornare.
																										</div>
																										<div class="comment sub">
																											<img src="http://placehold.it/100x100" width="100" height="100" alt="img" />
																											<div class="text">
																												<div class="name">Bill Gates <a class="reply" href="#">Reply</a></div>
																												<div class="date">12, September, 2013</div>
																												Lorem ipsum dolor sit amet, consectetur
																												adipiscing elit. Praesent condimentum sed elit
																												vitae tristique. Aliquam erat volutpat. Nunc sit
																												amet cursus libero. In fringilla egestas ornare.
																											</div>
																											<div class="clear"></div>
																										</div>
																										<div class="clear"></div>
																										</div><!-- .comments -->
																										<div class="comment">
																											<img src="http://placehold.it/100x100" width="100" height="100" alt="img" />
																											<div class="text">
																												<div class="name">Andrian Robert <a class="reply" href="#">Reply</a></div>
																												<div class="date">12, September, 2013</div>
																												Lorem ipsum dolor sit amet, consectetur
																												adipiscing elit. Praesent condimentum sed elit
																												vitae tristique. Aliquam erat volutpat. Nunc sit
																												amet cursus libero. In fringilla egestas ornare.
																											</div>
																											<div class="clear"></div>
																											</div><!-- .comments -->
																											</div><!-- .post_comments -->
																											<div class="clear"></div>
																											<div class="comment_form">
																												<div class="title_content">
																													<div class="text_content">Leave A Comment</div>
																													<div class="clear"></div>
																												</div>
																												<form method="post" id="comment_form">
																													<p class="form-group" id="contact-name">
																														<label for="name">Your Name</label>
																														<input type="text" name="name" class="form-control" id="inputSuccess" placeholder="Name*...">
																													</p>
																													<p class="form-group" id="contact-email">
																														<label for="email">Your Email</label>
																														<input type="text" name="email" class="form-control" id="inputSuccess" placeholder="Email*...">
																													</p>
																													<p class="form-group" id="contact-message">
																														<label for="message">Your Message</label>
																														<textarea name="message" cols="88" rows="6" class="form-control" id="inputError" placeholder="Your Comment..."></textarea>
																													</p>
																													<input type="reset" name="reset" value="CLEAR" class="reset">
																													<!--<input type="submit" name="submit" value="Post Comment" class="submit">-->
																													<button class="submit" data-toggle="modal" data-target=".bs-example-modal-sm">Post Comment</button>
																												</form>
																												<div class="clear"></div>
																											</div>
																										</div>
																										<div class="col-md-12"  style="margin-top: 20px;">
																											<a href="#post-3" class="readmore" id="pagination"><i class="glyphicon glyphicon-chevron-right"></i></a>
																											<a href="#post-1" class="readmore" id="pagination"><i class="glyphicon glyphicon-chevron-left"></i></a>
																											<a href="#blog" class="readmore"><i class="glyphicon glyphicon-chevron-left"></i> All Posts</a>
																										</div>
																										<div class="clear"></div>
																									</article>
																								</div>
																								<div class="clear"></div>
																							</div>
																						</section>
																						<!-- End Page Blog - Post 2 -->
																						<!-- Page Blog - Post 3 -->
																						<section id="post-3-page" class="content-post" style="display: none">
																							<div class="row inner">
																								<div class="col-md-12" style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;background: rgba(255, 255, 255, 0.8);padding-bottom: 15px;padding-top: 15px;">
																									<article class="postPage">
																										<div class="col-md-12 post_media">
																											<div class="post-format-icon">
																												<a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
																											</div>
																											<div class="media">
																												<div class="he-wrap tpl2">
																													<img src="images/blog/blog-2.jpg" class="img-hover" alt="">
																												</div>
																											</div>
																										</div>
																										<div class="title_content">
																											<div class="text_content">BLOG POST IMAGE</div>
																											<div class="clear"></div>
																										</div>
																										<p class="caps">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with.</p>
																										<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
																										<div class="col-md-12 first">
																											<div class="info">
																												<div>
																													<span class="tag">#php</span>
																													<span class="tag">#web</span>
																													<span class="tag">#web design</span>
																												</div>
																												<ul class="info-post">
																													<li><i class="glyphicon glyphicon-comment"></i> 2 Comments</li>
																													<li><i class="glyphicon glyphicon-time"></i> January 31, 2014</li>
																													<li><i class="glyphicon glyphicon-user"></i> by Jane Doe</li>
																													<li><i class="glyphicon glyphicon-tag"></i> Photoshop</li>
																												</ul>
																											</div>
																											<div class="clear"></div>
																											<div class="about_author">
																												<div class="title_content" style="margin-bottom:10px">
																													<div class="text_content">BILL GATES</div>
																													<div class="clear"></div>
																												</div>
																												<div class="clear"></div>
																												<div class="prg_content">
																													<img src="http://placehold.it/100x100" width="100" height="100" alt="img">
																													<div class="text">
																														Lorem ipsum dolor sit amet, consectetur
																														adipiscing elit. Praesent condimentum sed elit
																														vitae tristique. Aliquam erat volutpat. Nunc sit
																														amet cursus libero. In fringilla egestas ornare.
																													</div>
																													<div class="nb_post" style="margin-top: 10px;">
																														<b id="nb_post"> 15 posts</b> created by author
																													</div>
																												</div>
																												<div class="clear"></div>
																											</div>
																											<div class="clear"></div>
																											<div class="post_comments">
																												<div class="title_content">
																													<div class="text_content">7 Comments</div>
																													<div class="clear"></div>
																												</div>
																												<div class="clear"></div>
																												<div class="comments">
																													<div class="comment">
																														<img src="http://placehold.it/100x100" width="100" height="100" alt="img" />
																														<div class="text">
																															<div class="name">John Doe <a class="reply" href="#">Reply</a></div>
																															<div class="date">12, September, 2013</div>
																															Lorem ipsum dolor sit amet, consectetur
																															adipiscing elit. Praesent condimentum sed elit
																															vitae tristique. Aliquam erat volutpat. Nunc sit
																															amet cursus libero. In fringilla egestas ornare.
																														</div>
																														<div class="comment sub">
																															<img src="http://placehold.it/100x100" width="100" height="100" alt="img" />
																															<div class="text">
																																<div class="name">Bill Gates <a class="reply" href="#">Reply</a></div>
																																<div class="date">12, September, 2013</div>
																																Lorem ipsum dolor sit amet, consectetur
																																adipiscing elit. Praesent condimentum sed elit
																																vitae tristique. Aliquam erat volutpat. Nunc sit
																																amet cursus libero. In fringilla egestas ornare.
																															</div>
																															<div class="clear"></div>
																														</div>
																														<div class="clear"></div>
																														</div><!-- .comments -->
																														<div class="comment">
																															<img src="http://placehold.it/100x100" width="100" height="100" alt="img" />
																															<div class="text">
																																<div class="name">John Smith <a class="reply" href="#">Reply</a></div>
																																<div class="date">12, September, 2013</div>
																																Lorem ipsum dolor sit amet, consectetur
																																adipiscing elit. Praesent condimentum sed elit
																																vitae tristique. Aliquam erat volutpat. Nunc sit
																																amet cursus libero. In fringilla egestas ornare.
																															</div>
																															<div class="comment sub">
																																<img src="http://placehold.it/100x100" width="100" height="100" alt="img" />
																																<div class="text">
																																	<div class="name">Bill Gates <a class="reply" href="#">Reply</a></div>
																																	<div class="date">12, September, 2013</div>
																																	Lorem ipsum dolor sit amet, consectetur
																																	adipiscing elit. Praesent condimentum sed elit
																																	vitae tristique. Aliquam erat volutpat. Nunc sit
																																	amet cursus libero. In fringilla egestas ornare.
																																</div>
																																<div class="clear"></div>
																															</div>
																															<div class="clear"></div>
																															</div><!-- .comments -->
																															<div class="comment">
																																<img src="http://placehold.it/100x100" width="100" height="100" alt="img" />
																																<div class="text">
																																	<div class="name">Andrian Robert <a class="reply" href="#">Reply</a></div>
																																	<div class="date">12, September, 2013</div>
																																	Lorem ipsum dolor sit amet, consectetur
																																	adipiscing elit. Praesent condimentum sed elit
																																	vitae tristique. Aliquam erat volutpat. Nunc sit
																																	amet cursus libero. In fringilla egestas ornare.
																																</div>
																																<div class="comment sub">
																																	<img src="http://placehold.it/100x100" width="100" height="100" alt="img" />
																																	<div class="text">
																																		<div class="name">Bill Gates <a class="reply" href="#">Reply</a></div>
																																		<div class="date">12, September, 2013</div>
																																		Lorem ipsum dolor sit amet, consectetur
																																		adipiscing elit. Praesent condimentum sed elit
																																		vitae tristique. Aliquam erat volutpat. Nunc sit
																																		amet cursus libero. In fringilla egestas ornare.
																																	</div>
																																	<div class="clear"></div>
																																</div>
																																<div class="clear"></div>
																																</div><!-- .comments -->
																																<div class="comment">
																																	<img src="http://placehold.it/100x100" width="100" height="100" alt="img" />
																																	<div class="text">
																																		<div class="name">Andrian Robert <a class="reply" href="#">Reply</a></div>
																																		<div class="date">12, September, 2013</div>
																																		Lorem ipsum dolor sit amet, consectetur
																																		adipiscing elit. Praesent condimentum sed elit
																																		vitae tristique. Aliquam erat volutpat. Nunc sit
																																		amet cursus libero. In fringilla egestas ornare.
																																	</div>
																																	<div class="clear"></div>
																																	</div><!-- .comments -->
																																	</div><!-- .post_comments -->
																																	<div class="clear"></div>
																																	<div class="comment_form">
																																		<div class="title_content">
																																			<div class="text_content">Leave A Comment</div>
																																			<div class="clear"></div>
																																		</div>
																																		<form method="post" id="comment_form">
																																			<p class="form-group" id="contact-name">
																																				<label for="name">Your Name</label>
																																				<input type="text" name="name" class="form-control" id="inputSuccess" placeholder="Name*...">
																																			</p>
																																			<p class="form-group" id="contact-email">
																																				<label for="email">Your Email</label>
																																				<input type="text" name="email" class="form-control" id="inputSuccess" placeholder="Email*...">
																																			</p>
																																			<p class="form-group" id="contact-message">
																																				<label for="message">Your Message</label>
																																				<textarea name="message" cols="88" rows="6" class="form-control" id="inputError" placeholder="Your Comment..."></textarea>
																																			</p>
																																			<input type="reset" name="reset" value="CLEAR" class="reset">
																																			<!--<input type="submit" name="submit" value="Post Comment" class="submit">-->
																																			<button class="submit" data-toggle="modal" data-target=".bs-example-modal-sm">Post Comment</button>
																																		</form>
																																		<div class="clear"></div>
																																	</div>
																																</div>
																																<div class="col-md-12" style="margin-top: 20px;">
																																	<a href="#" class="readmore disabled" id="pagination"><i class="glyphicon glyphicon-chevron-right"></i></a>
																																	<a href="#post-2" class="readmore" id="pagination"><i class="glyphicon glyphicon-chevron-left"></i></a>
																																	<a href="#blog" id="blog" class="readmore"><i class="glyphicon glyphicon-chevron-left"></i> All Posts</a>
																																</div>
																																<div class="clear"></div>
																															</article>
																														</div>
																														<div class="clear"></div>
																													</div>
																												</section>
																												<!-- End Page Blog - Post 3 -->
																											</div>
																											<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
																												<div class="modal-dialog modal-sm">
																													<div class="modal-content">
																														<div class="modal-header">
																															<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
																															<h3 class="modal-title h3_modal" style="color: #fff !important;">FlexyVcard - Responsive Vcard Template</h3>
																														</div>
																														<div class="modal-body">
																															<p>FlexyVcard is an impressive and professional online vcard, a beautiful portfolio with sliding effect, resume and contact information with Google map.</p>
																															<p>It’s simple! Just download and install in a few minutes, you can show your online card to your friend, customer or employer in an interview by phone or tablet. Because FlexyVcard is a responsive template, you can view your website on pc as well as handheld devices. You can also link to your social profiles, display your portfolio in many media format such as image, youtube video, flash...</p>
																														</div>
																														<div class="modal-footer">
																															<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
																														</div>
																													</div>
																												</div>
																											</div>
																										</div>
																									</div>
																								</div>
																								<!-- End .blog -->
																								<!-- .contact -->
																								<div id="contact" class="content_2">
																									<h1 class="h-bloc">Contact - Contact Me</h1>
																									<div class="row">
																										<div class="col-lg-12">
																											<div class="row" id="contact-user">
																												<div class="col-md-12">
																													<div class="contact-form">
																														<div id="contact-status"></div>
																														<form action="" id="contactform">
																															<p class="form-group" id="contact-name">
																																<label for="name">Your Name</label>
																																<input type="text" name="name" class="form-control name-contact" id="inputSuccess" placeholder="Name..." />
																															</p>
																															<p class="form-group" id="contact-email">
																																<label for="email">Your Email</label>
																																<input type="text" name="email" class="form-control email-contact" id="inputSuccess" placeholder="Email..." />
																															</p>
																															<p class="form-group" id="contact-message">
																																<label for="message">Your Message</label>
																																<textarea name="message" cols="88" rows="6" class="form-control message-contact" id="inputError" placeholder="Message..."></textarea>
																															</p>
																															<input type="reset" name="reset" value="CLEAR" class="reset">
																															<section class="button-demo" style="display: inline-block;">
																																<button class="ladda-button submit send_email" name="submit" data-color="green" data-style="expand-left">SEND MESSAGE</button>
																															</section>
																														</form>
																													</div>
																													<!-- /Contact Form -->
																												</div>
																											</div>
																										</div>
																									</div>                                            </div>
																									<!-- End .contact -->
																								</div>
																								<!-- End #resp-tabs-container -->
