{{!< default}}

{{> "mheader"}}

<main class="content" role="main">

    <article class="post page">
    {{! Everything inside the #post tags pulls data from the post }}
        <div class="post-inner">
            <div class="column-left"></div>
            <div class="column-right">
                <header class="post-header">
                    <h1 class="post-title">关于我们</h1>
                </header>

                <span class="post-meta clearfix"></span>

                <section class="post-content">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;用博客的形式来记录下你有价值的思考，会带来很多好处，却没有任何明显的坏处，所以我决定开始写博客。那么写博客到底有什么好处呢？</p>
                    <ol>
                        <li><strong>能够交到很多志同道合的朋友。</strong>自己写博客，也去别人的博客，和远在千里之外的人，即使是不打照面，也是心照不宣。</li>
                        <li><strong>书写是为了更好的思考。</strong>读书的时候思想太快，只有在写的时候才会沉静下来慢慢思考。</li>
                        <li><strong>“教”是最好的“学”。</strong>如果一件事情你不能讲清楚，十有八九你还没有完全理解。</li>
                        <li><strong>讨论是绝佳的反思。</strong>讨论的时候总能看到与你持不同意见的人，只有在进一步的讨论中一些平时难以注意到的深层面的差异性就会逐渐浮现出来。</li>
                        <li><strong>激励你去持续学习和思考。</strong>为了让你的博客有价值，你必须不断总结自己学习的结果，你必须不断思考，给出比别人深刻、独到的见解。</li>
                        <li><strong>学会持之以恒地做一件事情。</strong>万事开头难，刚开始写博客会经历一段困难期，度过这段困难时期之后一切便习惯成自然了。</li>
                     </ol>
                     <p>以上简述希望与大家共勉。</p>
                </section>

                <footer class="post-footer">

                    <section class="share bdsharebuttonbox">
                        <h4>立即分享:</h4>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                        <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"关于一个有趣的博客-{{@blog.title}}的介绍，快去看看吧！","bdUrl":"{{@blog.url}}/about","bdDesc":"{{@blog.description}}","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["tsina","tqq","weixin","renren","qzone"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
                    </section>
                </footer>
            </div>

        </div>

    </article>
    <div class="to_top">
        <a href="#"><i class="fa fa-arrow-circle-up"></i></a>
    </div>

</main>
