<div class="row">
	<!-- Profile Image -->
	<div class="col-lg-12 col-md-12 col-sm-3 col-xs-12 ">
		<div class="image-holder one" id="pic_prof_1" style="display:block">
			<img class="head-image up circle" src="images/img/up.png" width="150" height="150" alt="" />
			<img class="head-image up-left circle" src="images/img/upleft.png" width="150" height="150" alt="" />
			<img class="head-image left circle" src="images/img/left.png" width="150" height="150" alt="" />
			<img class="head-image down-left circle" src="images/img/downleft.png" width="150" height="150" alt="" />
			<img class="head-image down circle" src="images/img/down.png" width="150" height="150" alt="" />
			<img class="head-image down-right circle" src="images/img/downright.png" width="150" height="150" alt="" />
			<img class="head-image right circle" src="images/img/right.png" width="150" height="150" alt="" />
			<img class="head-image up-right circle" src="images/img/upright.png" width="150" height="150" alt="" />
			<img class="head-image front circle" src="images/img/front.png" width="150" height="150" alt="" />
		</div>
		<!-- style for simple image profile -->
		<div class="circle-img" id="pic_prof_2" style="display:none"></div>
	</div>
	<!-- End Profile Image -->
	<div class="col-lg-12 col-md-12 col-sm-9 col-xs-12">
		<!-- Profile info -->
		<div id="profile_info">
			<h1 id="name" class="transition-02">brown smith</h1>
			<h4 class="line">GRAPHIC &amp; WEB DESIGNER</h4>
			<h6><span class="fa fa-map-marker"></span> San Francisco , CA</h6>
		</div>
		<!-- End Profile info -->
		<!-- Profile Description -->
		<div id="profile_desc">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac risus nibh. Donec adipiscing luctus tur
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing eli
			</p>
		</div>
		<!-- End Profile Description -->
		<!-- Name -->
		<div id="profile_social">
			<h6>My Social Profiles</h6>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa fa-dribbble"></i></a>
			<a href="#"><i class="fa fa-foursquare"></i></a>
			<div class="clear"></div>
		</div>
		<!-- End Name -->
	</div>
</div>
