<header id="site-head" style="background-image: url({{#if @blog.cover}}{{@blog.cover}}{{else}}{{asset 'img/logo.jpg'}}{{/if}})">
    <div class="dotted_bg"></div>
    <div class="site-head-inner">
        <div class="vertical">
            <div id="site-head-content" class="inner">

            </div>
        </div>

        <div class="social-panel">
            <div class="buttons">
                <a href="https://twitter.com/superlin1990" class="btn" target="_blank">
                    <i class="fa fa-twitter-square"></i>
                </a>
                <a href="https://plus.google.com/u/0/100879315317761275357/posts" class="btn" target="_blank">
                    <i class="fa fa-google-plus-square"></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=100005915920438" class="btn" target="_blank">
                    <i class="fa fa-facebook-square"></i>
                </a>
                <a href="http://www.weibo.com/2010545002/profile" class="btn" target="_blank">
                    <i class="fa fa-weibo"></i>
                </a>
                    <a href="http://www.renren.com/297870029/profile" class="btn" target="_blank">
                <i class="fa fa-renren"></i>
                </a>
            </div>
        </div>
    </div>
</header>
<div style="display:block">
    <div class="menu_top">
        <a class="toggle-mobile-menu" id="responsive-menu-button" href="#">菜单 <i class="fa"></i></a>

        <div id="menu">
            <ul class="inner">
                <li><a href="/" {{#if mindex}}class="active"{{/if}}>首页</a></li>
                <li><a href="/about/" {{#if mabout}}class="active"{{/if}}>关于</a></li>
                <li><a href="/contact/" {{#if mcontact}}class="active"{{/if}}>联系</a></li>
            </ul>
        </div>
    </div>
</div>