{{!< default}}

<main class="content" role="main">

    <article class="{{post_class}}">

        <h1 class="post-title">Contact Me</h1>

        <section class="post-content">
             <ul>
             	<li>新浪微博：<a href="http://www.weibo.com/2010545002/profile">superlin1990</a></li>
             	<li>人&nbsp;人：<a href="http://www.renren.com/297870029/profile">刘晚林</a></li>
             	<li>邮&nbsp;箱：<a href="mailto:superlin1990@gmail.com">superlin1990@gmail.com</a></li>
             	<li>Facebook：<a href="https://www.facebook.com/profile.php?id=100005915920438">刘晚林</a></li>
             	<li>Twitter：<a href="https://twitter.com/superlin1990">superlin1990</a></li>
             	<li>Google+：<a href="https://plus.google.com/u/0/100879315317761275357/posts">刘晚林</a></li>
             </ul>
        </section>

    </article>

</main>
