{{!< default}}

<main class="content" role="main">

    <article class="{{post_class}}">

        <h1 class="post-title">About Me</h1>

        <section class="post-content">
             nihao
        </section>

    </article>

</main>
